In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import *

In [2]:
#creating SparkSession
sc = SparkSession\
    .builder\
    .master("local[1]")\
    .appName('example_spark')\
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/16 19:05:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/16 19:05:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
#manually adding data and headers then creating a dataframe
data1 = [
    (1, "Gilbert Gathara", "24", "Nairobi"), 
    (2, "Someone Else", "32", "Nowhere")
]
headers = ("id", "Name", "Age", "Location")
df1 = sc.createDataFrame(data1, headers)
df1.show()

+---+---------------+---+--------+
| id|           Name|Age|Location|
+---+---------------+---+--------+
|  1|Gilbert Gathara| 24| Nairobi|
|  2|   Someone Else| 32| Nowhere|
+---+---------------+---+--------+

RDD Creation

In [4]:
#creates a rdd from parallelize - used to create a RDD from a list
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 100)]
rdd=sc.sparkContext.parallelize(dataList)

In [ ]:
##RDD Operations -

In [5]:
#reading a csv file with header
df2 = sc.read.option("header", "True").csv("AB_NYC_2019.csv")
df2.show()

+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|            John|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|        Jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|       Elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       NULL|             NULL|                             1|             365|
|3831|Cozy Entire Floor...|   4869|     LisaRoxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|           Laura|          Manhattan|       East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|             0.10|                             1|               0|
|5099|Large Cozy 1 BR A...|   7322|           Chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|  200|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5121|     BlissArtsSpace!|   7356|           Garon|           Brooklyn|Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49| 2017-10-05|             0.40|                             1|               0|
|5178|Large Furnished R...|   8967|        Shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room|   79|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5203|Cozy Clean Guest ...|   7490|       MaryEllen|          Manhattan|   Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118| 2017-07-21|             0.99|                             1|               0|
|5238|Cute & Cozy Lower...|   7549|             Ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|  150|             1|              160| 2019-06-09|             1.33|                             4|             188|
|5295|Beautiful 1br on ...|   7702|            Lena|          Manhattan|   Upper West Side|40.80316|-73.96545|Entire home/apt|  135|             5|               53| 2019-06-22|             0.43|                             1|               6|
|5441|Central Manhattan...|   7989|            Kate|          Manhattan|    Hell's Kitchen|40.76076|-73.98867|   Private room|   85|             2|              188| 2019-06-23|             1.50|                             1|              39|
|5803|Lovely Room 1, Ga...|   9744|          Laurie|           Brooklyn|       South Slope|40.66829|-73.98779|   Private room|   89|             4|              167| 2019-06-24|             1.34|                             3|             314|
|6021|Wonderful Guest B...|  11528|         Claudio|          Manhattan|   Upper West Side|40.79826|-73.96113|   Private room|   85|             2|              113| 2019-07-05|             0.91|                             1|             333|
|6090|West Village Nest...|  11975|           Alina|          Manhattan|      West Village| 40.7353|-74.00525|Entire home/apt|  120|            90|               27| 2018-10-31|             0.22|                             1|               0|
|6848|Only 2 stops to M...|  15991|   Allen & Irina|           Brooklyn|      Williamsburg|40.70837|-73.95352|Entire home/apt|  140|             2|              148| 2019-06-29|             1.20|                             1|              46|
|7097|Perfect for Your ...|  17571|            Jane|           Brooklyn|       Fort Greene|40.69169|-73.97185|Entire home/apt|  215|             2|              198| 2019-06-28|             1.72|                             1|             321|
|7322|     Chelsea Perfect|  18946|            Doti|          Manhattan|           Chelsea|40.74192|-73.99501|   Private room|  140|             1|              260| 2019-07-01|             2.12|                             1|              12|
|7726|Hip Historic Brow...|  20950|Adam And Charity|           Brooklyn|     Crown Heights|40.67592|-73.94694|Entire home/apt|   99|             3|               53| 2019-06-22|             4.44|                             1|              21|
|7750|Huge 2 BR Upper E...|  17985|            Sing|          Manhattan|       East Harlem|40.79685|-73.94872|Entire home/apt|  190|             7|                0|       NULL|             NULL|                             2|             249|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

In [6]:
#renaming column and printing updated schema again
df2.withColumnRenamed("name", "address").printSchema()

root
 |-- id: string (nullable = true)
 |-- address: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: string (nullable = true)

PySpark SQL

In [29]:
dfsql = sc.read.option("header", "True").csv("AB_NYC_2019.csv")


#creates a temporary table on dataframe using createOrReplaceTempView()
dfsql.createOrReplaceTempView("airbnb")

#once created, it can be accessed through sql()
sc.sql("SELECT * FROM airbnb") \
    .show(5)
sc.sql("SELECT neighbourhood_group, price FROM airbnb") \
    .show(5)

+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|  host_name|neighbourhood_group|neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|       John|           Brooklyn|   Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|   Jennifer|          Manhattan|      Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|  Elisabeth|          Manhattan|       Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       NULL|             NULL|                             1|             365|
|3831|Cozy Entire Floor...|   4869|LisaRoxanne|           Brooklyn| Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|      Laura|          Manhattan|  East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|             0.10|                             1|               0|
+----+--------------------+-------+-----------+-------------------+-------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 5 rows

+-------------------+-----+
|neighbourhood_group|price|
+-------------------+-----+
|           Brooklyn|  149|
|          Manhattan|  225|
|          Manhattan|  150|
|           Brooklyn|   89|
|          Manhattan|   80|
+-------------------+-----+
only showing top 5 rows

In [31]:
#filtering rows using WHERE
sc.sql("SELECT name, host_name, neighbourhood FROM airbnb WHERE neighbourhood = 'Upper West Side' ") \
    .show(5)

#can be used as where() from dataframe
dfsql.select("name","host_name","room_type","neighbourhood") \
  .where("neighbourhood == 'Upper East Side'") \
  .show(5)

+--------------------+---------+---------------+
|                name|host_name|  neighbourhood|
+--------------------+---------+---------------+
|Cozy Clean Guest ...|MaryEllen|Upper West Side|
|Beautiful 1br on ...|     Lena|Upper West Side|
|Wonderful Guest B...|  Claudio|Upper West Side|
|   West Side Retreat|      Cyn|Upper West Side|
|Cozy 1BD on Centr...|     Joya|Upper West Side|
+--------------------+---------+---------------+
only showing top 5 rows

+--------------------+---------+---------------+---------------+
|                name|host_name|      room_type|  neighbourhood|
+--------------------+---------+---------------+---------------+
|2 bedroom - Upper...|        D|Entire home/apt|Upper East Side|
|      Manhattan Room| Victoria|   Private room|Upper East Side|
|Garden studio in ...|     Lisa|Entire home/apt|Upper East Side|
|Light and Airy Up...|     Sara|Entire home/apt|Upper East Side|
|CENTRAL PARK LOFT...|    Marie|Entire home/apt|Upper East Side|
+--------------------+---------+---------------+---------------+
only showing top 5 rows

In [33]:
dfsql.groupBy("neighbourhood").count() \
  .show(5)

sc.sql(""" SELECT neighbourhood_group, count(*) as count FROM airbnb 
          GROUP BY neighbourhood_group""") \
     .show(5)

+-------------+-----+
|neighbourhood|count|
+-------------+-----+
|       Corona|   64|
| Richmondtown|    1|
| Prince's Bay|    4|
|  Westerleigh|    2|
|   Mill Basin|    4|
+-------------+-----+
only showing top 5 rows

+-------------------+-----+
|neighbourhood_group|count|
+-------------------+-----+
|         Douglaston|    1|
|             Queens| 5630|
|              Nadia|    1|
|            Midtown|    4|
|    Jackson Heights|    2|
+-------------------+-----+
only showing top 5 rows