In [18]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc, sum
from pyspark.sql.types import *

In [19]:
sc = SparkSession\
    .builder\
    .master("local")\
    .appName('pyspark-airbnb')\
    .getOrCreate()

In [20]:
#reading a csv file with header
df = sc.read.option("header", "True").csv("AB_NYC_2019.csv")
df.show()

+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|            John|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|        Jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|       Elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       NULL|             NULL|                             1|             365|
|3831|Cozy Entire Floor...|   4869|     LisaRoxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|           Laura|          Manhattan|       East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|             0.10|                             1|               0|
|5099|Large Cozy 1 BR A...|   7322|           Chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|  200|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5121|     BlissArtsSpace!|   7356|           Garon|           Brooklyn|Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49| 2017-10-05|             0.40|                             1|               0|
|5178|Large Furnished R...|   8967|        Shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room|   79|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5203|Cozy Clean Guest ...|   7490|       MaryEllen|          Manhattan|   Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118| 2017-07-21|             0.99|                             1|               0|
|5238|Cute & Cozy Lower...|   7549|             Ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|  150|             1|              160| 2019-06-09|             1.33|                             4|             188|
|5295|Beautiful 1br on ...|   7702|            Lena|          Manhattan|   Upper West Side|40.80316|-73.96545|Entire home/apt|  135|             5|               53| 2019-06-22|             0.43|                             1|               6|
|5441|Central Manhattan...|   7989|            Kate|          Manhattan|    Hell's Kitchen|40.76076|-73.98867|   Private room|   85|             2|              188| 2019-06-23|             1.50|                             1|              39|
|5803|Lovely Room 1, Ga...|   9744|          Laurie|           Brooklyn|       South Slope|40.66829|-73.98779|   Private room|   89|             4|              167| 2019-06-24|             1.34|                             3|             314|
|6021|Wonderful Guest B...|  11528|         Claudio|          Manhattan|   Upper West Side|40.79826|-73.96113|   Private room|   85|             2|              113| 2019-07-05|             0.91|                             1|             333|
|6090|West Village Nest...|  11975|           Alina|          Manhattan|      West Village| 40.7353|-74.00525|Entire home/apt|  120|            90|               27| 2018-10-31|             0.22|                             1|               0|
|6848|Only 2 stops to M...|  15991|   Allen & Irina|           Brooklyn|      Williamsburg|40.70837|-73.95352|Entire home/apt|  140|             2|              148| 2019-06-29|             1.20|                             1|              46|
|7097|Perfect for Your ...|  17571|            Jane|           Brooklyn|       Fort Greene|40.69169|-73.97185|Entire home/apt|  215|             2|              198| 2019-06-28|             1.72|                             1|             321|
|7322|     Chelsea Perfect|  18946|            Doti|          Manhattan|           Chelsea|40.74192|-73.99501|   Private room|  140|             1|              260| 2019-07-01|             2.12|                             1|              12|
|7726|Hip Historic Brow...|  20950|Adam And Charity|           Brooklyn|     Crown Heights|40.67592|-73.94694|Entire home/apt|   99|             3|               53| 2019-06-22|             4.44|                             1|              21|
|7750|Huge 2 BR Upper E...|  17985|            Sing|          Manhattan|       East Harlem|40.79685|-73.94872|Entire home/apt|  190|             7|                0|       NULL|             NULL|                             2|             249|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

In [21]:
#renaming column and printing updated schema again
df1 = df.withColumnRenamed("name", "address")

#changing price datatype to Integer
df1 = df1.withColumn("price", df1["price"].cast(IntegerType()))
# df2.groupBy("neighbourhood_group").sum("price").show()


#counts the null values in a particular column
null_count = df1.filter(df1['address'].isNull()).count()
null_count

#drops rows with null values
df2 = df1.dropna()

#gives an alias and then sorts the price column in descending order``
df2.groupBy("neighbourhood")\
    .agg(sum("price").alias("n_price")) \
    .sort(desc("n_price")).show()

+------------------+-------+
|     neighbourhood|n_price|
+------------------+-------+
|      Williamsburg| 441505|
|Bedford-Stuyvesant| 331439|
|    Hell's Kitchen| 283364|
|   Upper West Side| 276330|
|           Midtown| 263354|
|      East Village| 260102|
|            Harlem| 256974|
|   Upper East Side| 234269|
|           Chelsea| 182969|
|          Bushwick| 164922|
|      West Village| 152524|
|     Crown Heights| 140922|
|   Lower East Side| 130946|
|        Greenpoint| 125081|
|       East Harlem| 124438|
|Financial District| 111344|
|      Clinton Hill|  84461|
|           Astoria|  82087|
|              SoHo|  80509|
| Greenwich Village|  72611|
+------------------+-------+
only showing top 20 rows

In [16]:
#neigbourhood has 
u = []
u = df.select("neighbourhood_group").distinct()
# unique_values.show()
u.show()

+-------------------+
|neighbourhood_group|
+-------------------+
|         Douglaston|
|             Queens|
|              Nadia|
|            Midtown|
|    Jackson Heights|
|     Hell's Kitchen|
|  Greenwich Village|
|       Clinton Hill|
| Washington Heights|
|   Ditmars Steinway|
|           Longwood|
|          Briarwood|
|        Little Neck|
|           Flushing|
|      Randall Manor|
|             Carmen|
|      East Elmhurst|
|    Upper East Side|
|         Bath Beach|
|           Canarsie|
+-------------------+
only showing top 20 rows